aws_region = "us-east-1"
prefix     = "unbound"

# ----------------------------------------------------------------------------------------------------------------------
# networking
# ----------------------------------------------------------------------------------------------------------------------

vpc_id = "vpc-abc123"

subnet_ids = [
  "subnet-abc123",
  "subnet-def456",
]

# ----------------------------------------------------------------------------------------------------------------------
# dns
# ----------------------------------------------------------------------------------------------------------------------

search_domains = [
  "mycompany.net",
  "private.example.com",
]

onprem_dns_servers = [
  "192.0.2.0",
  "192.0.2.128"
]

onprem_dns_records = [
  "myapp A 92.0.2.128",
]

# ----------------------------------------------------------------------------------------------------------------------
# instance
# ----------------------------------------------------------------------------------------------------------------------

instance_type = "t2.small"
keypair       = ""
